<div class="jumbotron">
  <div>
    <ul class="list-group">
      <li class="list-group-item">
        <h4>1. <a routerLink="/virtual-scrolling">Virtual Scrolling </a> <span> vs </span> <a routerLink="/normal-scrolling">Normal
            Scrolling</a></h4>
      </li>
      <li class="list-group-item">
        <h4>2. <a routerLink="/drag-drop">Drag n Drop</a></h4>
      </li>
      <li class="list-group-item">
        <h4>3. <a routerLink="/mat-select">Mat Select</a></h4>
      </li>
    </ul>
    <div class="footnote text-right">
      <label>Get to know more features, visit: </label> <a href="http://aspiresoftware.in/blog/whats-new-in-angular-7/"> http://aspiresoftware.in/blog/whats-new-in-angular-7</a>
    </div>
  </div>
</div>