<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    <div class="container">
        <section class="section--menu">
            <nav class="">
                <div class="navbar-header float-left">
                    <a href="http://aspiresoftware.in/ui-ux-portfolio/" class="logo"><img alt="" class="image-logo img-responsive" src="http://aspiresoftware.in/ui-ux-portfolio/images/aspire_new_logo.png"></a>
                </div>
                <div class="float-right">
                    <h5> Angular7 Features</h5>
                </div>
            </nav>
        </section>
    </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>