<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
        <section class="section--menu" id="Iris">
            <nav class="navbar navbar-default menu menu--iris">
                <div class="navbar-header float-left">
                    <a href="http://aspiresoftware.in/ui-ux-portfolio/" class="logo"><img alt="" class="image-logo img-responsive" src="http://aspiresoftware.in/ui-ux-portfolio/images/aspire_new_logo.png"></a>
                </div>
                <div class="float-right">
                    <h2> Angular7 Features examples</h2>
                </div>
            </nav>
        </section>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>