<div class="jumbotron">
  <h6><a routerLink="/"> &lt;&lt; Back</a></h6>
  <div class="header">
    <h3>Mat Select</h3>
  </div>
  <div class="mat-select-container">
    <form class="row">
      <div class="col-md-6">
        <h4>Mat-select</h4>
        <mat-form-field>
          <mat-select placeholder="Favorite color" [(ngModel)]="selectedValue" name="color">
            <mat-option *ngFor="let color of colors" [value]="color">
              {{color}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected color: {{selectedValue}} </p>
      </div>
      <div class="col-md-6">
        <h4>Native html select</h4>
        <mat-form-field>
          <select matNativeControl placeholder="Favorite fruit" [(ngModel)]="selectedFruit" name="fruit">
            <option value="" disabled selected></option>
            <option *ngFor="let fruit of fruits" [value]="fruit">
              {{fruit}}
            </option>
          </select>
        </mat-form-field>
        <p> Selected Fruit: {{selectedFruit}} </p>
      </div>
    </form>
  </div>
</div>