.viewport {
    height: 200px;
  }
  .item {
    height: 50px;
    padding: 10px;
  }
  
  .virtual-scroll-container{
    background-color:white;
    padding: 10px;
  }
  .even{
    background-color: #ccc;
  }